.maze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.maze-row {
  display: flex;
  flex-direction: row;
}

.maze-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wall {
  background-color: black;
}

.start {
  color: green;
}

.end {
  color: red;
}
